__pycache__/
*.pyc
*.pyo
*.pyd

brainseg_env/
brain/
.env/
.venv/

brainaseg.egg-info/
brainseg.egg-info/
dist/
build/
pip-wheel-metadata/

.vscode/
.DS_Store
Thumbs.db

brainaseg/__pycache__
brainseg-base.spec